# Database configuration
DATABASE_URL="postgresql://postgres:postgres_pass_123@db:5432/tnv_db?schema=public"

# Backend configuration
PORT=4000
JWT_ACCESS_SECRET="super-access-secret-key-987654321-change-me"
JWT_REFRESH_SECRET="super-refresh-secret-key-987654321-change-me"
APP_URL="http://localhost:5173"
FRONTEND_URL="http://localhost:5173"

# Email Configuration (Nodemailer SMTP)
# If left blank, emails will be printed to console and saved locally in "backend/sent_emails/" for local preview
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM='"TN Volunteer Platform" <no-reply@volunteer.tn.gov.in>'
